.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    margin-block-start: 2rem;
    margin-block-end: 0.5rem;
}

form input[type]{
    min-width: 200px;
    box-sizing: border-box;
}


ul{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    padding: 0 .5rem;
}

li.selected{
    filter: drop-shadow(0 0 5px dodgerblue);
}

.avatar-thumb{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

form button#submit-button{
    margin-block-start: 2rem;

    font-size: 2rem;
    color: black;
}

form button#submit-button:disabled{
    color: rgb(156, 156, 156);
}

#result-container{
    margin-block-start: 2rem;
}

#result-container p{
    margin-block-end: 0.33rem;
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}